<div class="container">
    <h1>Rules Set!</h1>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Search Rules" (keyup)="applyFilter($event.target.value)" >
    </mat-form-field>
    <mat-card>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Rule Name </th>
                <td mat-cell *matCellDef="let element"> {{element.rule_name}} </td>
            </ng-container>
            <ng-container matColumnDef="Applicable">
                <th mat-header-cell *matHeaderCellDef> Applicable </th>
                <td mat-cell *matCellDef="let element"> {{element.applicable}} </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon (click)="$event.stopPropagation();redirectToViewRuleset(element)">edit</mat-icon>
                    <mat-icon (click)="$event.stopPropagation();deleteRule(element.id)" class="margin">delete</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="redirectToViewRuleset(row)"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card>
    <button class="fab-btn" mat-fab [routerLink]="['/add-rules']">+</button>
</div>
